/* src/App.css */
.app-container{
  background-image: url("https://img.freepik.com/premium-photo/abstract-background-design-rough-soft-light-venetian-red-color_851755-116605.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
  }

.app-container {
  display: flex;
  height: 100vh;
 
}

.mainleft-panel, .mainright-panel {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  
}

/* Optional: Adjust the left panel width if needed */